body
{  
background-color: black; /* Le fond de la page sera noir */  
color: white; /* Le texte de la page sera blanc */  
}  
mark  
{  
/* La couleur de fond prend le pas sur celle de toute la page */  
background-color: red;  
color: black;  
}